<h2><%= post.headline %></h1>

<p><%= post.content %></p>
<p>Posted at <%= post.published_at %></p>
<p>
  Tags:
  <ul>
    <% post.tags.each do |tag| %>
      <li><%= tag.name %></li>
    <% end %>
  </ul>
</p>
<hr>
<a href="/">Back</a>
